For Responsive website
*{margin: 0; padding: 0}
html{font-size: 0.6em;}
body{margin:0px; padding: 0px; font-family:Roboto}
.background{background-image:url(https://i.imgur.com/5Yd4eV5.png); 
    height: 1024px; width: 375px; background-size: cover;
}
.hideOnMobile{display: none; }

nav{background-color: white;}
nav ul{width: 100%; list-style: none; display: flex; justify-content: flex-start; 
       align-content: center;
}

nav li{height: 50px;}
nav a{height: 100%; padding:8px; text-decoration: none; 
    display: flex; align-items: center; color: white; 
    font-family: Inter;
   font-size: 18px;
   font-weight: 500;
   line-height: 21.78px;
   text-align: right;
}
.sidebar{position: fixed; 
         top: 0; height: 100vh;
         width: 26px; color: white;
         display: none; flex-direction: column;
         align-items: flex-start;
         justify-content: flex-start; width: 100%;
         color: white; background-image: white;
}

.sidebar li{ width: 100%; }
.sidebar a{width: 100%}
.artsjunk{ font-family: Inter;
    font-size: 30.4px;
    font-weight: 900;
    line-height: 36.79px;
    text-align: left;
    width: 167px;
    
    }
nav .home{height: 100%; padding:8px; text-decoration: none; 
    display: none; align-items: center; color: white; 
    font-family: Inter;
   font-size: 18px;
   font-weight: 500;
   line-height: 21.78px;
   text-align: right;
 }
 
nav button{height: 80%; padding:5px; text-decoration: none; 
    display: flex; align-items: center; background-color: none; 
    border-radius: 5px; font-family: Inter; margin-top: 15px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    text-align: left; margin-right:32px;
}
 
.hero-image{width: 90px;
    height: 15px;
    gap: 0px;
    margin-top: 285px;
    margin-bottom: 25px;
    margin-left: 32px;
    }
.arts-piece{font-family: Libre Caslon Display;
    font-size: 50px;
    font-weight: 400;
    line-height: 61.8px;
    width: 314px;
    color: white;
    margin-left: 32px;
    }
.learn-piece{font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 30.33px;
    color: white;
    margin-left: 32px;
    margin-top: 20px;
   
    }
.learn-more{width: 153px;
    height: 42px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    border: 2px 0px 0px 0px;
    background-color: #212121; 
    color: white;
    margin-left: 32px;
    }

    .newest{font-family: Inter;
        font-size: 24px;
        font-weight: 700;
        line-height: 29.05px;
        text-align: left;
       
        }

    #reads-section{display: flex; flex-direction:column; gap:10px; }
    .castle-session{}
    .read-image{width: 311px;
        height: 352px;
        gap: 0px;
        border-radius: 4px 0px 0px 0px;
        
        }
        .read-date{font-family: Inter;
            font-size: 13px;
            font-weight: 500;
            line-height: 15.15px;
            text-align: left;
            width: 96px;
            margin-left:32px;
            margin-top:25px;
            margin-bottom: 10px;
            color: #B7B7B7;

        }

    .read-text{font-family: Inter;
        font-size: 20px;
        font-weight: 700;
        line-height: 24.2px;
        text-align: left;
        width: 247px;
        height: 120px;
        top: 431px;
        left: 32px;
        gap: 0px;
        margin-left: 32px;
        opacity: 0px;
        
        }
    
        .read-more{font-family: Inter;
            font-size: 15px;
            font-weight: 500;
            line-height: 18.15px;
            text-align: left;
            margin-left: 183px;
            color: #D9852C;
            margin-top:30px; margin-bottom: 30px;
        }  

        
        .read-more a{text-decoration:none; color: #D9852C;  
                
        }
 
        @media screen and (min-width: 576px){  /* Tablet design */

         .background{width: 744px;
            height: 1024px;
            gap: 0px;
            opacity: 0.5px;
            }
          .arts-piece{font-family: Libre Caslon Display;
            font-size: 70px;
            font-weight: 400;
            line-height: 86.52px;
            width: 600px;
            }

          .learn-piece{font-family: Inter;
            font-size: 18px;
            font-weight: 500;
            line-height: 30.33px;
            width: 528px;
            }

            #reads-section{flex-direction:row; max-width: 600px;
             }
             .read-image img{width: 187px;
                height: 352px; max-width: 600px;
                gap: 10px;
                border-radius: 4px 0px 0px 0px;
                               }

             .castle-session{width: 30%; flex-wrap: wrap;}
             .read-image{width: 187px; 
                gap: 10px; border-radius: 4px 0px 0px 0px;
                max-width: 600px;
                }
                .read-text{font-family: Inter;
                    font-family: Inter;
                    font-size: 15px;
                    font-weight: 700;
                    line-height: 18.15px;
                    width:123px;
                    }
                .read-more{font-family: Inter;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 18.15px;
                    width: 96px; margin-left: 59px;
                    }
                .newest{font-family: Inter;
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 36.31px;
                    width:202px;
                    }
            }

            @media screen and (min-width: 992px){  /* Laptop design */
            
                .background{width: 1440px;
                    height: 1024px;
                    gap: 0px;
                    opacity: 0.5px;
                    }
                  .arts-piece{font-family: Libre Caslon Display;
                    font-size: 80px;
                    font-weight: 400;
                    line-height: 98.52px;
                    width: 748px;
                    }
        
                  .learn-piece{font-family: Inter;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 30.33px;
                    width: 528px;
                    }
        
                    #reads-section{flex-direction:row; max-width: 1380px;
                     }
                     .read-image img{width: 419px;
                        height: 352px;
                        gap: 10px;
                        border-radius: 4px 0px 0px 0px;
                                       }
        
                     .castle-session{width: 30%; flex-wrap: wrap;}
                     .read-image{width: 419px; 
                        gap: 10px; border-radius: 4px 0px 0px 0px;
                        
                        }
                        .read-text{font-family: Inter;
                            font-family: Inter;
                            font-size: 25px;
                            font-weight: 700;
                            line-height: 30.15px;
                            width:355px;
                            }
                        .read-more{font-family: Inter;
                            font-size: 15px;
                            font-weight: 500;
                            line-height: 18.15px;
                            width: 96px; margin-left: 291px;
                            }
                        .newest{font-family: Inter;
                            font-size: 30px;
                            font-weight: 700;
                            line-height: 36.31px;
                            width:202px;
                            }
                            

                        .artsjunk{display:none;}

                            nav li:first-child{margin-right: auto; 
                                font-family: Inter;
                                font-size: 30.4px; 
                                font-weight: 900;
                                line-height: 36.79px;
                                text-align: left; color:white;
                                margin-top: 10px;
                            }
                                
                            nav button{height: 80%; 
                                text-align: left; margin-left:15px;
                            }
                                 
                            .hideOnMobile{display: flex;}
                            .menu-button{display: none;}
            }